{% extends "base.html" %}
{% load static_cb %}

{% block head %}
{% endblock %}

{% block bottom %}
{% endblock %}

{% block content %}
<div class="contents-area">
    <h2>{{ this_category.name }}</h2>
    {% if this_category.id %}
    <div class="card-wrap">
        <div class="card">
            <a href="/word/learn?category_id={{this_category.id}}">
                <div class="title">
                    Learn this category
                </div>
                <div class="contents">
                    <div class="sambnail">
                        <img src="{% static 'images/learn.jpg' %}">

                    </div>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/word/learn?category_id={{this_category.id}}&visible_checked=1">
                <div class="title">
                    Learn from checked
                </div>
                <div class="contents">
                    <div class="sambnail">
                        <img src="{% static 'images/star.png' %}">

                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="card-wrap">
        {% for category in categories %}
            {% if category.visible %}
                <div class="card">
                    <a href="/word/category?category_id={{category.id}}">
                        <div class="title">
                            {{ category.name }}
                        </div>
                        <div class="contents">
                            <div class="sambnail">
                                <img src="{% static 'images/ielts3500.jpg' %}">

                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>
{% endblock %}