{% extends "base.html" %}
{% load static_cb %}

{% block head %}
    <link href="{% static 'css/word/learn.css' %}" rel="stylesheet">
    <div></div>
{% endblock %}
{% block bottom %}
    <script type="text/javascript" src="{% static 'js/word/learn.js' %}"></script>
{% endblock %}
{% block content %}
<div clss="contents_wrapper">
    <div class="card-wrap">
        <div class="learn-card" id="card">
            <div class="title">

                <div>
                    {{ study_word.word }}
                    <i v-on:click="sound" class="fa fa-volume-up contentTopAudioIcon">
                        <audio class="contentAudio" controls="controls" preload="none">
                            <source src="{{study_word.audio_path}}" type="audio/mpeg">
                        </audio>
                    </i>
                </div>
                <div>
                    <i v-on:click="toggleStar" v-bind:class="{ 'fa-star-o': !isChecked, 'fa-star': isChecked }" class="fa" aria-hidden="true"></i>
                </div>
            </div>
            <div v-on:click="toggleVisible" class="content hide">
                <div class="mean hide">{{ study_word.mean }}</div>

                <input id="server_params" type="hidden"
                    data-is-checked={{word_summary.is_checked}}
                    data-word-summary-id={{word_summary.id}}
                    data-word-log-id={{word_log.id}}
                    data-word-word={{study_word.word}}
                    data-word-audio-path={{study_word.audio_path}}

                >
            </div>
        </div>
    </div>

    <div class="button-area">
        <div v-on:click="next" class="button green">わかった</div>
        <div v-on:click="markedUnknown" class="button red">わからなかった</div>

    </div>

</div>
{% endblock %}