{% extends "base.html" %}
{% load static_cb %}

{% block head %}
    <link href="{% static 'css/word/learn.css' %}" rel="stylesheet">
    <div></div>
{% endblock %}
{% block bottom %}
    <script type="text/javascript" src="{% static 'js/word/learn.js' %}"></script>
{% endblock %}
{% block content %}
<div clss="contents_wrapper">
    <div class="card-wrap">
        <div class="learn-card" id="card">
            <div class="title">

                <div class="left">
                    <div>
                        <span class="order">{{study_word.id}}</span>
                        {{ study_word.word }}
                    </div>
                    <div class="icon">
                        <i v-on:click="sound" class="fa fa-volume-up contentTopAudioIcon">
                            <audio class="contentAudio" controls="controls" preload="none" id="audio">
                                <source src="{{study_word.audio_path}}" type="audio/mpeg">
                            </audio>
                        </i>
                    </div>
                </div>
                <div class="right">
                    <div class="property">{{word_summary.display_count}} ({{word_summary.order}})</div>
                    <div class="icon">
                        <i v-on:click="toggleStar"
                        v-bind:class="{ 'fa-star-o': !isChecked, 'fa-star': isChecked }"
                        class="fa" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div v-on:click="toggleVisible" class="content" v-bind:class="{'show': meanShow}">
                <div class="wrapper">
                        <div class="define">
                            <div
                                class="mean"
                                v-bind:class="{ 'show': showMean }">
                                {{ study_word.mean}}
                            </div>
                        </div>
                        {% for define in defines %}
                            <div class="define">
                                <div
                                    class="mean"
                                    v-bind:class="{ 'show': showOxfordMean }">
                                    {{ define.meaning_ja}}
                                </div>
                                <div v-on:click="visibleMeaning" class="synonym-wrap">
                                    <div class="synonyms"
                                        v-bind:class="{ 'show': showSynonyms }">
                                        {% for synonym in define.synonyms %}
                                            {% if synonym.english_word_id %}
                                                <a href="/word/{{synonym.english_word_id}}">
                                                    <div class="synonym active">{{synonym.word}}</div>
                                                </a>
                                            {% else %}
                                                <div class="synonym">{{synonym.word}}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    <div class="image flex-center">
                        {% if study_word.image_path %}
                        <img src="{{ study_word.image_path }}">
                        {% endif %}
                    </div>

                    <input id="server_params" type="hidden"
                        data-is-checked={{word_summary.is_checked}}
                        data-word-summary-id={{word_summary.id}}
                        data-word-log-id={{word_log.id}}
                        data-word-word={{study_word.word}}
                        data-word-audio-path={{study_word.audio_path}}
                        data-category-id={{category_id}}
                        data-index={{index}}
                        data-visible-checked={{visible_checked}}
                        data-show-mean={{setting.show_mean}}
                        data-show-oxford-mean={{setting.show_oxford_mean}}
                        data-show-synonyms={{setting.show_synonyms}}
                        data-mean-show={{only_show}}
                    >

                </div>
            </div>
        </div>
    </div>
{% if not only_show %}
    <div class="button-area">
        <div class="answer">
            <input type="text" id="answer" placeholder="Answer here"
                ref="answer"
                v-bind:class="{ 'error': errorAnswer}"
                autocomplete="off">
        </div>
        <div class="flex-center">
            <div>{{index|add:1}}/{{word_count}}</div>
        </div>
        <div v-on:click="answerWord(0)" class="button green">I know</div>
        <div v-on:click="answerWord(1)" class="button red">I don't know</div>

    </div>
    <form method="get" id="form" action="">
        <input type="hidden" id="index" name="index">
    </form>
{% endif %}
</div>

<ul class="function-button">
    <li v-if="showMean" class="button blue" @click="showMean = !showMean; scrollBottom();">
        <div>Hide meaning</div>
    </li>
    <li v-if="!showMean" class="button green" @click="showMean = !showMean; scrollBottom();">
        <div>Show meaning</div>
    </li>

    <li v-if="showOxfordMean" class="button blue" @click="showOxfordMean = !showOxfordMean; scrollBottom();">
        <div>Hide oxford meaning</div>
    </li>
    <li v-if="!showOxfordMean" class="button green" @click="showOxfordMean = !showOxfordMean; scrollBottom();">
        <div>Show oxford meaning</div>
    </li>

    <li v-if="showSynonyms" class="button blue" @click="showSynonyms = !showSynonyms; scrollBottom();">
        <div>Hide synonyms</div>
    </li>
    <li v-if="!showSynonyms" class="button green" @click="showSynonyms = !showSynonyms; scrollBottom();">
        <div>Show synonyms</div>
    </li>

    <li v-if="showDescription" class="button blue" @click="showDescription = !showDescription; scrollBottom();">
        <div>Hide description</div>
    </li>
    <li v-if="!showDescription" class="button green" @click="showDescription = !showDescription; scrollBottom();">
        <div>Show description</div>
    </li>


</ul>
<ul v-bind:class="{ 'show': showDescription }" class="shortcut-description">
    <li>
        <div class="label">
            <div>Ctrl + _</div>
        </div>
        <div class="contents">check</div>
    </li>
    <li>
        <div class="label">
            <div>Ctrl + ↓</div>
        </div>
        <div class="contents">Play sound</div>
    </li>
    <li>
        <div class="label">
            <div>Ctrl + ↑</div>
        </div>
        <div class="contents">Show meaning area</div>
    </li>
    <li>
        <div class="label">
            <div>Ctrl + →</div>
        </div>
        <div class="contents">I know</div>
    </li>
    <li>
        <div class="label">
            <div>Ctrl + ←</div>
        </div>
        <div class="contents">I don't know</div>
    </li>
    <li>
        <div class="label">
            <div>Ctrl + ,</div>
        </div>
        <div class="contents">Show meaning</div>
    </li>
    <li>
        <div class="label">
            <div>Ctrl + .</div>
        </div>
        <div class="contents">Show oxford meaning</div>
    </li>
    <li>
        <div class="label">
            <div>Ctrl + /</div>
        </div>
        <div class="contents">Show synonyms</div>
    </li>
</ul>
{% endblock %}