{% extends "base.html" %}
{% load static_cb %}

{% block head %}
    <link href="{% static 'css/word/learn.css' %}" rel="stylesheet">
    <div></div>
{% endblock %}
{% block bottom %}
    <script type="text/javascript" src="{% static 'js/word/learn.js' %}"></script>
{% endblock %}
{% block content %}
<div clss="contents_wrapper">
    <div class="card-wrap">
        <div class="learn-card" id="card">
            <div class="title">

                <div>
                    <span class="order">{{study_word.order}}</span>{{ study_word.word }}
                    <i v-on:click="sound" class="fa fa-volume-up contentTopAudioIcon">
                        <audio class="contentAudio" controls="controls" preload="none" id="audio">
                            <source src="{{study_word.audio_path}}" type="audio/mpeg">
                        </audio>
                    </i>
                </div>
                <div>
                    {{word_summary.display_count}}回表示
                    <i v-on:click="toggleStar"
                        v-bind:class="{ 'fa-star-o': !isChecked, 'fa-star': isChecked }"
                        class="fa" aria-hidden="true"></i>
                </div>
            </div>
            <div v-on:click="toggleVisible" class="content" v-bind:class="{'show': meanShow}">
                <div class="wrapper">
                    <div
                        class="mean">{{ study_word.mean }}</div>
                    <div class="image flex-center">
                        {% if study_word.image_path %}
                        <img src="{{ study_word.image_path }}">
                        {% endif %}
                    </div>

                    <input id="server_params" type="hidden"
                        data-is-checked={{word_summary.is_checked}}
                        data-word-summary-id={{word_summary.id}}
                        data-word-log-id={{word_log.id}}
                        data-word-word={{study_word.word}}
                        data-word-audio-path={{study_word.audio_path}}
                        data-category-id={{category_id}}
                        data-index={{index}}
                        data-visible-checked={{visible_checked}}
                    >

                </div>
            </div>
        </div>
    </div>

    <div class="button-area">
        <div class="answer">
            <input type="text" id="answer" placeholder="Answer here"
                ref="answer"
                v-bind:class="{ 'error': errorAnswer}"
                autocomplete="off">
        </div>
        <div v-on:click="answerWord(0)" class="button green">わかった</div>
        <div v-on:click="answerWord(1)" class="button red">わからなかった</div>

    </div>
    <form method="get" id="form" action="">
        <input type="hidden" id="index" name="index">
    </form>
</div>
<div class="flex-center">
    <div>{{index|add:1}}/{{word_count}}</div>
</div>
<div class="flex-center">
    <table class="normal-table">
        <caption>Shortcut Keys</caption>
        <thead>
            <th>Ctrl + _</th>
            <th>Ctrl + ↓</th>
            <th>Ctrl + ↑</th>
            <th>Ctrl + →</th>
            <th>Ctrl + ←</th>
        </thead>
        <tbody>
            <tr>
                <td>チェック</td>
                <td>音声再生</td>
                <td>日本語訳表示</td>
                <td>わかった</td>
                <td>わからなかった</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}