{% extends "base.html" %}
{% load static_cb %}

{% block head %}
    <link href="{% static 'css/word/setting.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="flex-center">

    <form method="post" action="" class="setting">
        {% csrf_token %}
        <div class="field-wrap">
            <div class="field-contents">
                <div class='contents'>
                    <label>How mach words per cycle?</label>
                    {{ form.learn_num }}
                </div>
            </div>
            <div class="valid-error">{{ form.errors.learn_num }}</div>
        </div>

        <div class="field-wrap">
            <div class="field-contents">
                <div class='contents'>
                    <label>Show meaning?</label>
                    <div class="switchArea">
                        {{ form.show_mean }}
                        <label for="{{ form.show_mean.id_for_label }}"><span></span></label>
                        <div class="swImg"></div>
                    </div>
                </div>
            </div>
            <div class="valid-error">{{ form.errors.show_mean }}</div>
        </div>
        <div class="field-wrap">
            <div class="field-contents">
                <div class='contents'>
                    <label>Show oxford meaning?</label>
                    <div class="switchArea">
                        {{ form.show_oxford_mean }}
                        <label for="{{ form.show_oxford_mean.id_for_label }}"><span></span></label>
                        <div class="swImg"></div>
                    </div>
                </div>
            </div>
            <div class="valid-error">{{ form.errors.show_oxford_mean }}</div>
        </div>
        <div class="field-wrap">
            <div class="field-contents">
                <div class='contents'>
                    <label>Show synonyms?</label>
                    <div class="switchArea">
                        {{ form.show_synonyms }}
                        <label for="{{ form.show_synonyms.id_for_label }}"><span></span></label>
                        <div class="swImg"></div>
                    </div>
                </div>
            </div>
            <div class="valid-error">{{ form.errors.show_synonyms }}</div>
        </div>

        <div class="field-wrap">
            <div class="field-contents">
                <div class='contents'>
                    <label>Shuffle after get words?</label>
                    <div class="switchArea">
                        {{ form.is_shuffle }}
                        <label for="{{ form.is_shuffle.id_for_label }}"><span></span></label>
                        <div class="swImg"></div>
                    </div>
                </div>
            </div>
            <div class="valid-error">{{ form.errors.is_shuffle }}</div>
        </div>
        <div class="field-wrap">
            <div class="field-contents">
                <div class='contents'>
                    <label>Get words at random?</label>
                    <div class="switchArea">
                        {{ form.is_random }}
                        <label for="{{ form.is_random.id_for_label }}"><span></span></label>
                        <div class="swImg"></div>
                    </div>
                </div>
            </div>
            <div class="valid-error">{{ form.errors.is_random }}</div>
        </div>
        <div class="flex-center field-wrap">
            <input type="submit" class="btn btn-primary" value="Save option">
        </div>
    </form>

</div>
{% endblock %}