
.card-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .learn-card{
        margin: 1em;
        width: 100%;
        max-width: 600px;
        min-height: 50vh;

        .title{
            font-size: 1.5em;
            font-weight: bold;
            background-color: #0062cc;
            color: #fff;
            padding: 10px;

            display: flex;
            justify-content: space-between;

            i {
                cursor: pointer;
                audio{
                    display: none;
                }
                &.fa-star{
                    color: #ffc107;
                }
            }
            .order{
                border: 1px solid;
                font-size: 15px;
                text-align: left;
                margin: 0 2px 0px 0;
                padding: 3px;
                font-weight: normal;
                position: relative;
                left: -9px;
                top: -13px;
            }

        }
        .content{
            width: 100%;
            word-break: break-all;
            height: calc(100% - 3em);
            background-color: rgba(0, 123, 255, 0.25);

            .wrapper{
                visibility: hidden;
            }
            &.show{
                .wrapper{
                    visibility: visible;
                }
            }
            .mean{
                font-size: 1.5em;
                padding: 1em;
            }

        }

    }
}

.button-area{
    margin: 1em;
}

.answer{
    font-size: 1rem;
    line-height: 1.5;
    max-width: 600px;
    text-align: center;
    margin: 10px auto;
    #answer{
        width: calc(100% - 24px);
        padding: 12px;
        font-size: 1em;

    }
}