
.card-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .learn-card{
        width: 100%;
        max-width: 600px;
        min-height: 50vh;

        .title{
            font-size: 1.5em;
            font-weight: bold;
            background-color: #0062cc;
            color: #fff;
            padding: 10px;

            display: flex;
            justify-content: space-between;

            i {
                cursor: pointer;
                audio{
                    display: none;
                }
                &.fa-star{
                    color: #ffc107;
                }
            }
            .order{
                border: 1px solid;
                font-size: 15px;
                text-align: left;
                margin: 0 2px 0px 0;
                padding: 3px;
                font-weight: normal;
                position: relative;
                left: -9px;
                top: -13px;
            }
            .left{
                display: flex;
                align-items: center;
            }
            .right{
                display: flex;
                align-items: center;
                .property{
                    font-size: 0.6em;
                }
            }
            .icon{
                margin: 0 5px;
            }

        }
        .content{
            width: 100%;
            word-break: break-all;
            height: calc(100% - 3em);
            background-color: rgba(0, 123, 255, 0.25);

            .wrapper{
                visibility: hidden;
                padding: 1em;
            }
            &.show{
                .wrapper{
                    visibility: visible;
                }
            }
            .image{

                margin-top: 10px;
                width: 100%;
                img{
                    max-width: 100%;
                    max-height: 250px;
                }
            }
            .define{
                .mean{
                    display: none;
                    &.show{
                        display: block;
                    }
                    margin-top: 10px;
                    font-size: 1.5em;
                }

                .synonym-wrap{
                    .synonym-title{
                        font-weight: bold;
                    }
                    .synonyms{
                        a{
                            text-decoration: none;
                        }
                        display: none;
                        &.show{
                            display: flex;
                        }
                        overflow: scroll;
                        .synonym{
                            padding: 6px;
                            margin: 5px;
                            white-space: nowrap;
                            color: #fff;
                            background-color: #0161cc;
                            opacity:0.7;
                            &.active{
                                opacity:1;
                            }
                        }
                    }
                }
            }

        }

    }
}

.button-area{
    margin: 1em;
}

.answer{
    font-size: 1rem;
    line-height: 1.5;
    max-width: 600px;
    text-align: center;
    margin: 10px auto;
    #answer{
        width: calc(100% - 24px);
        padding: 12px;
        font-size: 1em;

    }
}

.function-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-wrap: nowrap;
    margin: 2em 0;
    li{
        &.button{
            padding: 5px 0px;
            font-size: small;
        }
        margin: 5px;
    }
}
.shortcut-description{
    display: none;
    &.show{
        display: flex;
    }
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em;
    li{
        border: 1px solid;
        text-align: center;
        margin-left: -1px;
        margin-top: 10px;

        border-collapse: collapse;
        .label{
            width: 100%;
            font-weight: bold;
            border-bottom: 1px solid;
            div{
                padding: 5px;
            }
        }
        .contents{
            padding: 5px;
        }
    }
}