

.card-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .word-card{
        margin: 1em;
        width: 400px;
        max-width: 100%;
        // min-height: 4.5em;

        .title{
            font-size: 1.5em;
            font-weight: bold;
            background-color: #0062cc;
            color: #fff;
            padding: 10px;

            i {
                cursor: pointer;
                audio{
                    display: none;
                }
            }
        }
        .content{
            width: 100%;
            word-break: break-all;
            height: calc(100% - 3em);
            background-color: rgba(0, 123, 255, 0.25);
            .mean{
                padding: 1em;
                &.hide{
                    color: rgba(0, 0, 0, 0);
                }
                height: calc(100% - 2em);
            }
            .button-area{
                height: 2em;
                background-color: #fff;
            }

        }

    }

}